<div id="right_column_flip" class="right_column_flip">
<h2>Hjálparsíður</h2>
<ul class="no_bullets">
  <li><%= link_to_unless_current "Um upplysingabeidnir.is", help_about_path %></li>
  <li><%= link_to_unless_current "Að útbúa upplýsingabeiðni", help_requesting_path %></li>
  <li><%= link_to_unless_current "Persónuvernd þín", help_privacy_path %></li>
  <li><%= link_to_unless_current "Fyrir opinbera starfsmenn", help_officers_path %></li>
  <li><%= link_to_unless_current "Um hugbúnaðinn", help_alaveteli_path %></li>
  <li><%= link_to_unless_current "Þakkir", help_credits_path %></li>
  <li><%= link_to_unless_current "Forritaskil (API)", help_api_path %></li>
  <li><%= link_to_unless_current "Ítarleg leit", advanced_search_path %></li>
</ul>

<h2 id="contact" class="contact">Hafðu samband</h2>
<p>Ef þú finnur ekki svör við því sem þú leitar að hér, eða ef þú vilt bara láta okkur vita um eitthvað varðandi vefinn, <a href="<%= help_contact_path %>">hafðu þá samband</a>.
</p>
</div>