<% @title = "About" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="introduction">Um <%= site_name %> <a href="#introduction">#</a></h1>
  <dl>

    <dt id="purpose">Til hvers er <%= site_name %>? <a href="#purpose">#</a> </dt>
    <dd>Til að hjálpa þér við að senda upplýsingabeiðnir til stjórnvalda.
    </dd>

    <dt id="premise">Hvernig virkar vefurinn? <a href="#premise">#</a> </dt>
    <dd>Þú velur það stjórnvald sem þú vilt fá upplýsingar og gögn frá, skrifar stutta beiðni sem lýsir því sem þú sækist eftir. Við sendum síðan beiðnina á stjórnvaldið. Öll svör frá þeim eru sjálfkrafa birt á vefnum fyrir þig og aðra til að finna og lesa.
    </dd>

    <dt id="whybother_me">Why would I bother to do this? <a href="#whybother_me">#</a> </dt>
    <dd>You pay taxes, and then government does things with the money. All sorts of
      things that affect your life, from healthcare through to national defence. Some
      it does badly, some it does well. The more we find out about how government
      works, the better able we are to make suggestions to improve the things that
      are done badly, and to celebrate the things that are done well.
    </dd>

    <dt id="whybother_them">Why would the public authority bother to reply? <a href="#whybother_them">#</a> </dt>
    <dd>Under Freedom of Information (FOI) law, they have to respond. The response
      will either contain the information you want, or give a valid legal reason why
      it must be kept confidential.
    </dd>

    <dt id="reporting">What if I see a request I feel to be inappropriate? <a href="#reporting">#</a></dt>
    <dd>
      <p>
        Requests for personal information and vexatious requests are not considered valid for FOI purposes (read more).
      </p>

      <p>
        If you believe a request is not suitable, you can report it for attention by the site administrators.
      </p>
    </dd>

    <dt id="reporting_unavailable">Why won't it let me report some requests? <a href="#reporting_unavailable">#</a></dt>
    <dd>
      <p>
        If a request has already been reported to the site administrators, you
        can't report it a second time - this is to prevent the administrators
        being notified multiple times about the same issue before they've had
        a chance to conduct a review.
      </p>

      <p>
        Where a request has been previously reported but an administrator has
        chosen not to hide it from public view, you can use the form in the
        sidebar of the request page to contact the administrators if you still
        think it should be hidden.
      </p>
    </dd>

    <dt id="who">Who makes <%= site_name %> ? <a href="#who">#</a> </dt>
    <dd><%= site_name %> runs on <a href="http://alaveteli.org">Alaveteli</a>, which was created and run by <a href="http://www.mysociety.org">mySociety</a>,
      and was initially <a href="http://www.mysociety.org/2006/12/06/funding-for-freedom-of-information/">funded by the JRSST Charitable Trust</a>. mySociety is a project of the
      registered charity <a href="http://www.ukcod.org.uk/UK_Citizens_Online_Democracy">UK Citizens Online Democracy</a>.
      If you like what we're doing, then you can
      <a href="https://www.mysociety.org/donate/">make a donation</a>.
    </dd>

    <dt id="updates">How can I keep up with news about <%= site_name %>?<a href="#updates">#</a> </dt>
    <dd>We have a <a href="<%= blog_path %>">blog</a><% if !MySociety::Config.get('TWITTER_USERNAME', '').empty? %> and a <a href=https://twitter.com/<%= MySociety::Config.get('TWITTER_USERNAME', '') %>>twitter feed</a><% end %>.
    </dd>

  </dl>

  <p><strong>Next</strong>, read about <a href="<%= help_requesting_path %>">making requests</a> --&gt;</p>

  <div id="hash_link_padding"></div>
</div>
